MAPBOX_ACCESS_TOKEN=

## Grafana Mimir (server-side metrics)
MIMIR_URL=
MIMIR_USER=
MIMIR_PASSWORD=

## Grafana Loki (server-side logging)
LOKI_URL=
LOKI_USER=
LOKI_PASSWORD=

## Grafana Pyroscope (server-side profiling)
PYROSCOPE_URL=
PYROSCOPE_USER=
PYROSCOPE_PASSWORD=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
