@import "@silk-hq/components/unlayered-styles" layer(silk);
@import 'tailwindcss';

@config '../tailwind.config.ts';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-50;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-canvas-container {
  height: calc(100vh - 64px);
}

canvas {
  outline: none;
}

hr {
  @apply border-gray-300;
}
