@import "@silk-hq/components/unlayered-styles" layer(silk);
@import 'tailwindcss';

@config '../tailwind.config.ts';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-50;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-canvas-container {
  height: calc(100dvh - 64px);
}

canvas {
  outline: none;
}

hr {
  @apply border-gray-300;
}

.mapboxgl-popup {
  display: flex;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  will-change: transform;
}

.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  flex-direction: column-reverse;
}

.mapboxgl-popup-content {
  position: relative;
  pointer-events: auto;
}

.shop-hover-popup .mapboxgl-popup-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.shop-hover-popup .mapboxgl-popup-tip {
  display: none;
}
